<h2 class="text-center mt-5">Add Location</h2>
<div class="input-container">
    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Location</label>
          <input type="text" class="form-control" id="exampleInputEmail1" name="loc" aria-describedby="emailHelp">
        </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label" >Latitude</label>
                <h4>0</h4>
            </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Longitude</label>
                <h4>0</h4>  
            </div>
        <button type="submit" class="btn btn-success mt-3">Submit</button>
      </form>
</div>
