<div class="container mt-5">
    <div class="manage-head mb-3">
        <h2>Manage Location</h2>
        <a href="/add">
            <button class="btn btn-success">Add Location</button>
        </a>
    </div>
    <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Location</th>
            <th scope="col">Latitude</th>
            <th scope="col">Longitude</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>
                <button class="btn btn-outline-primary">Edit</button>
                <button class="btn btn-outline-danger">Delete</button>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>
                <button class="btn btn-outline-primary">Edit</button>
                <button class="btn btn-outline-danger">Delete</button>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
            <td>
                <button class="btn btn-outline-primary">Edit</button>
                <button class="btn btn-outline-danger">Delete</button>
            </td>  
        </tr>
        </tbody>
      </table>
</div>
